.container {
    width: 22%;
    min-width: 240px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.container button {
    width: 22px;
    border-radius: 15px;
    align-self: flex-end;
    position: relative;
    top: 10px;
    left: 10px;
}

.container img {
    width: 100%;
    border-radius: 20px;
}