.header {
    display: grid;
    grid-template-columns: 1fr 9fr 1fr;
    align-items: center;
    background-color: var(--verde-principal);
    padding-left: 6em;
    position: fixed;
    top: 0;
    z-index: 2;
}

.header img {
   width: 70%;
}

.header div {
    display: flex;
    gap: 3vw;
    justify-content: center;
}

.header a {
    text-decoration: none;
    color: var(--branco);
    font-size: 20px;
    font-weight: 600;
}

.header a:hover {
    color: var(--verde-secundario);
    transition: 350ms;
}

.header .admin {
    text-align: center;
    background-color: var(--verde-secundario);
    color: var(--verde-principal);
    padding: .6em 1em;
}

.header .admin:hover {
    background-color: var(--preto);
    color: var(--verde-secundario);
}