.container {
    margin: 25vh 5vw 10vh;
    padding: 5vh 0;
    background-color: var(--branco);
}

.container h1 {
    text-align: center;
    font-size: 38px;
}

.cards {
    display: flex;
    justify-content: center;
    margin: 5vw;
    row-gap: 5vw;
    flex-wrap: wrap;
}

.container button {
    width: 22px;
    border-radius: 15px;
    align-self: baseline;
    position: relative;
    top: -10px;
    right: 10px;
}